.vjs-ad-playing .vjs-play-control.vjs-paused,
.vjs-ad-playing .vjs-volume-level,
.vjs-ad-playing .vjs-play-progress
{
    /*background-color: #DC1431 !important;*/
}
/*.vjs-mute-control,*/
/*.vjs-volume-level,*/
/*.vjs-play-progress,*/
/*.vjs-load-progress,*/
/*.vjs-play-control*/
/*{*/
    /*color: red !important;*/
/*}*/
.vjs-control-bar
{
    /*background-color: rgba(7, 20, 30, .8) !important;*/
    /*color: red !important;*/
}

.change-ad-opt-test-button
{
    position: absolute;
    top:0;
    right: 0;
    background-image: url('../img/close.ico');
    background-position: center; 
    background-size: 50px 50px;
    cursor:pointer;
    width: 50px;
    height: 50px;
    z-index: 99;
}